.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.section1, .section2, .section3 {
  width: 100%;
  max-width: 1500px;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .appContainer {
    gap: 20px;
  }

  .section1,
  .section2,
  .section3 {
    padding: 10px;
    border-radius: 5px;
  }
}